body{
  background-color:#000000;
  color:#FFFFFF;
  font-family:"Roboto", sans-serif;
  font-size:16px;
}

h1{
  font-family:"Playfair Display", serif;
  font-size:3.5em;
}

h2{
  font-size:2.5em;
  font-family:"Playfair Display",serif;
}

h3{
  font-size:1.5em;
}

h4{
  font-size:1em;
}

a{
  text-decoration:none;
  color:#FFFFFF;
}

//Navigation 
nav{
  display:inline-flex;
  position: fixed;
  top:0;
  z-index:1;
  background-color:#000000;
  width:100%;
  border-bottom:solid 1px #FFFFFF;
}
nav ul{
  align-items:center;
  justify-content:center;
}
nav li{
  display:inline-flex;
  text-align: center;
  padding:10px;
  margin-top:3%;
}


.logo{
  height:4.88vh;
  width:auto;
  margin-right:10%;
  margin-top:1%;
}

//Mission Section
.top-container{
  background-image:url('../../assets/images/missions.jpg');
  background-size:cover;
  background-position:center;
  display:flex;
  height:75vh;
  width:auto;
  justify-content:center;
  align-items:center;
}

#mission{
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #000000;
}

//Tea of the Month
.mid-container{
  height:69vh;
  width:auto;
  text-align:center;
  margin:6%;
}

#featured{
  display:flex;
  flex-direction:row;
  flex-flow:wrap;
  justify-content:space-around;
  margin:4%;
}

.feat-img{
  height:15vh;
  width:auto;
  margin:7% 8%;
  padding:1%;
}

//Locations
.bot-container{
  display:block;
  height:69.44vh;
  width:100%;
  text-align:center;
  align-items:center;
  justify-content:center;
  background-image:url('../images/locations.jpg');
  background-size:cover;
  background-position:center;
  margin-top:7%;
}

.bot-container h2{
  padding-top:4%;
}

#location{
  display: inline-flex;
  flex-direction:row;
  justify-content:space-around;
  align-content:center;
  text-align:center;
  align-items:center;
}

.store{
  background-color:#000000;
  text-align:center;
  padding:2%;
  margin:5% 3%;
  height:25vh;
  width:15vw;
}

.store h3{
  text-align:center;
  margin:0;
}

.store li{
  line-height:1.5em;
  text-align:center;
}

.store h3{
  margin:2%;
}

//Contact 
#contact{
  text-align:center;
  margin:7%;
  line-height:2em;
}

/*Screen Responsive

Change Navigation to Collapse
Featured Height Bigger/Hide overflow
Location Stores To column

//Phone Large


@media only screen and (max-width: 425px) {
  body {
    background-color: lightblue;
  }
}

//Phone Medium
@media only screen and (max-width: 375px) {
  body {
    background-color: lightblue;
  }
}


//Phone Small
@media only screen and (max-width: 320px) {
  body {
    background-color: lightblue;
  }
}
*/